body {
  font-family: Microsoft JhengHei, sans-serif, Open Sans, Roboto, PT Sans;
  background: linear-gradient(150deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.inbox {
  margin: 50px auto;
  max-width: 400px;
  background-color: #fff;
  border: solid 1px #aaaaaa;
  border-radius: 5px;
  box-shadow: 8px 8px 0 rgba(150, 150, 150, 0.5);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #aaaaaa;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  color: #fff;
  background-color: #666;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  transition: background-color 0.2s;
  flex: 1;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  border-left: solid 1px #ccdcf9;
}

footer {
  position: fixed;
  bottom: 5px;
  left: 5px;
  right: 0;
  padding: 10px 0;
}

#links_container a {
  margin-left: 20px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bolder;
  color: #fce22d;
}

#links_container a:visited {
  color: #fce22d;
}

#links_container a:hover {
	color: #47d52a;
}
