* {
  font-family: sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

.nav {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
}

.nav_container {
  background-color: #61dfd4;
}

.nav_content {
  display: inline-block;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100px;
  border-bottom: solid 7px #59cf93;
  background-color: #61dfd4;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.nav_container a:hover {
  background-color: #a0fcf4;
}

#home:hover {
  background-color: #ff90a1;
  border-bottom: solid 7px #fb5d75;
}

.namecard {
  width: 360px;
  height: 230px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
  background-color: #f7f4f4;
  z-index: 10;

  color: #666;

  letter-spacing: 1px;
  font-weight: 100;

  overflow: hidden;
  border: solid 1px rgba(0,0,0,0.15);
  border-radius: 6px;

  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
}

.namecard h2 {
  font-size: 25px;
  font-weight: 700;
}

.namecard h2 span{
  font-size: 12px;
}

.namecard h5 {
  color: #f72e4d;
  font-weight: 500;
}

.namecard p{
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
}

.square {
  position: relative;
  width: 30px;
  height: 30px;
  top: 6px;
  background-color: #f72e4d;

  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
  transform: rotate(10deg);
}

.circle {
  position: relative;
  width: 80px;
  height: 80px;
  right: -250px;
  top: -310px;
  border-radius: 100%;
  border: solid 4px #f72e4d;
}

.mark {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
  margin-top: 250px;
  font-size: 300px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0,0,0,0.035);
  z-index: -1;
}
