/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 // @import "compass/reset";
 @charset "UTF-8";

 //顏色定義區(橘/灰/深橘)
$color_orange: #FA8B00;
$color_grey: #f3f3f1;
$color_dark_orange: #EB5E00;
$color_yellow: #FFE18D;
$color_dark_yellow: #FFDA71;
$color_dark_grey: #4F4C4B;

//尺寸定義區 (標題/內文/書籤按鈕/書籤icon/老師icon)
$size_title: 25px;
$size_para: 15px;
$size_bookbtn: 42px;
$size_icon: 22px;
$size_teacher: 55px;

//尺寸(課程/上下半部/進度條/預購價/底部橘條)
$width_class: 260px;
$height_toppart: 160px;
$height_bottompart: 184px;
$height_progressbar: 10px;
$height_pricerow: 22px;
$height_bottomorange: 5px;

//尺寸(課程框框的padding)
$padding_class: 15px;

//預設圖片Url
$url_teacher: "https://hahow.in/images/57ab3d5585b097070042067a";
$url_class: "https://hahow.in/images/574fab4f206cd60900c52a67?width=300";

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

 * {
   font-family: "Heiti TC", "HeitiTC-Light", "LiHei", "微軟正黑體", "Lato", "Verdana";
  //  border: solid 1px;
   position: relative;
   vertical-align: top;
   color: #4F4C4B;
 }

 html, body {
   margin: 0;
   padding: 0;
 }

 body {
   background-color: $color_grey;
 }

 .orange {
   color: $color_orange;
   font-weight: 500;
   padding-left: 3px;
 }

.banner {
  height: 400px;
  background: linear-gradient(-45deg,$color_yellow 10%,$color_yellow 10%,$color_dark_yellow 10%,$color_dark_yellow 40%,$color_yellow 40%,$color_yellow 60%,$color_dark_yellow 60%,$color_dark_yellow 90%,$color_yellow 90%,$color_yellow 100%);
  background-size: 46px 46px;
  position: relative;
  .center_banner {
    display: inline-block;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px rgba(#fff, 0.3);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    img {
      width: 1000px;
      cursor: pointer;
    }
  }
}

.classes {
  margin-top: 50px;
  max-width: $width_class*4+30px*4;
  margin-left: auto;
  margin-right: auto;
}

.classbox {
  width: $width_class;
  padding: $padding_class;
  padding-bottom: 0px;
  box-sizing: border-box;
  text-align:left;
  text-decoration: none;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 25px 15px;

  &:hover {
    & .classpicture {
      transform: scale(1.15);
    }
    & .bookbtn {
      bottom: 10px;
    }
  }
}

.teacher {
  position: absolute;
  top: -($size_teacher/2);
  width: $size_teacher;
  height: $size_teacher;
  background-image: url($url_teacher);
  background-size: cover;
  border: solid 2px #fff;
  border-radius: 100%;
  box-shadow: 0px 0px 12px rgba(#fff, 0.12);
  z-index: 10;
}

.top {
  height: $height_toppart;
  margin: -15px;
  margin-bottom: 0px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;

  & .tag {
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    transform: translate(95px) translateY(15px) rotate(45deg);
    background-color: #EB5E00;
    font-weight: 900;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(#fff, 0.5);
  }

  & .classpicture {
    @include size(100%, 100%);
    position: absolute;
    background-image: url($url_class);
    background-size: cover;
    transition-duration: 0.3s
  }

  & .bookbtn {
    @include size($size_bookbtn, $size_bookbtn);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: $padding_class;
    box-shadow: 0px 0px 12px rgba(#fff, 0.2);
    bottom: -50px;

    transition: bottom 0.4s;
    text-align: center;
    &:hover {
      background-color: $color_dark_orange;
      & i {
        color: #fff;
      }
    }
  }

  & i {
    font-size: $size_icon;
    font-weight: 500;
    color: $color_orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 12px rgba(#fff, 0.12);
  }
}

.bottom {
  height: $height_bottompart;
  position: relative;

  .classtitle {
    margin-top: 30px;
    font-size: $size_title;
  }
}

.texts {
  font-size: $size_para;
  padding-top: 0;
  padding-bottom: 4px;
  letter-spacing: 1px;
  font-weight: 400;
}

.pricerow {
  height: $height_pricerow;
  position: relative;
  padding-bottom: 7px;

  .preprice, .lastday {
    display: inline-block;
    position: absolute;
  }

  .lastday {
    right: 0;
  }
}

.progressbar {
  height: $height_progressbar;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.12);
  overflow: hidden;

  & .valuebar {
    background-color: $color_orange;
    width: 30%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    transition-duration: 1s;
  }
}

.nowpeople {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 0;
  text-align: center;
}

.orangebar {
  position: absolute;
  bottom: 0;
  height: $height_bottomorange;
  background-color: $color_dark_orange;
  width: 100%;
  margin: 0px -15px;
  padding: 0px 15px;
  border-radius: 0px 0px 5px 5px;
}
