/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@charset "UTF-8";

* {
  // border: solid 1px;
  position: relative;
  font-family: arial, 微軟正黑體;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // position: absolute;
  // left: 0;
  // top: 0;
  display: flex;
  justify-content: center;
  // align-items: center;
  background-color: #FFC954;
  z-index: -10;
}

#buylist {
  border: 3px solid #000;
  display: inline-block;
  position: absolute;
  // // left: 50%;
  top: 120px;
  // // transform: translateY(-50%);
  padding: 20px;
  background-color: #e3e3e3;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
}

h1 {
  padding: 20px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 3px solid #000;
  background-color: #57dd8d;
  color: #fff;
  font-weight: bold;
  // overflow: hidden;

}

.buyitem {
  padding: 15px;
  font-size: 16px;
  vertical-align: middle;
  font-weight: 700;

  & label {
    margin-right: 5px;
    padding: 5px;
    vertical-align: middle;
  }

  & input {
    width: 100px;
    border: solid 3px;
    padding: 5px;
    vertical-align: middle;
    outline: none;
    & input:focus::-webkit-input-placeholder{
      opacity: 0;
    }
  }

  & .addbtn {
    cursor: pointer;
    margin-left: 10px;
    padding: 5px;
    vertical-align: middle;
    border: 3px solid #333;
    &:hover {
      background-color: #f93f3f;
      color: #fff;
    }
  }
}

#item_list {
  margin-top: 10px;
  padding: 5px;
}

.buy_item {
  padding: 5px;
  list-style: none;
  border: solid 3px #444;
  margin-top: 10px;
  font-weight: 700;
  vertical-align: middle;

  & .price {
    display: inline-block;
    position: absolute;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    right: 50px;
    background-color: #FFC954;
    vertical-align: middle;

    &:after {
      content: " $";
    }
  }

  & .del_btn {
    display: inline-block;
    position: absolute;
    padding: 0px 6px;
    right: 10px;
    cursor: pointer;
    vertical-align: middle;

    &:hover {
      background-color: #f93f3f;
      color: #fff;
    }
  }
}

.total {
  background-color: #57dd8d;
  color: #fff;
  & .price {
    background-color: transparent;
  }
}

footer {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%) translateY(-50%);
  & a {
    font-size: 16px;
    color: #666;
    text-decoration: none;
  }
  & a:hover {
    color: rgba(#fff,.7);
  }
}
