body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  margin: 0;
  width: 100vw;
  background-color: rgba(194,230,235,.7);
}

header {
  padding: 18px;
}

a {
  float: left;
  cursor: pointer;
  margin-right: 18px;
  text-decoration: none;
  font-size: 24px;
  color: #2666e4;
}

a:visited {
  color: #2666e4;
}

a:hover {
	color: #f957e8;
}

#container {
  margin: 80px auto;
}

#player_container {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 50px #717171;
  background-color: #f56196;
  box-shadow: -1px -1px 2px #000;
  z-index: 0;
}

#player {
  cursor: pointer;
  position: relative;
  margin: auto;
  top: 25%;
  left: 10%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent #007bff;
}

#music_container {
  margin: 10px auto;
  display: flex;
  align-items: center;
}

#vol {
  cursor: pointer;
  margin: auto;
  width: 200px;
  height: 20px;
}
