//output:demo.html

doctype html
//20170521 test
html(lang="en")
  title Vue.js Practice
  meta(chartest="utf-8")
  link(rel="stylesheet", href="css/screen.css")
  
  body
    h1 Hello, jade
    h2 測試使用Vue.js前端框架
    h3 先試試jade模組化的list清單產生
    hr
    li 1
    li 2
    li 3
