//output:index.html

doctype html
//20170523
html(lang="en")
  meta(chartest="utf-8")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
  link(rel="stylesheet", href="css/screen.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://unpkg.com/vue/dist/vue.js")
  title 使用者互動
  
  body
    h1 Vue 使用者互動式問卷
    hr
    
    h1 哈囉?
    h4.comment 到目前為止對於我有什麼建議呢?
