/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@charset "UTF-8";

* {
  vertical-align: top;
  font-family: 微軟正黑體;
  backface-visibility: hidden;
  user-select: none;
}

$key_width: 44px;
$key_height: 300px;

$color_white: #eee;
$color_black: #585858;

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

html, body {
  @include size(100%, 100%);
  margin: 0;
  padding: 0;
  position: relative;
}

.center_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
}

h2 {
  margin-bottom: 30px;
  color: $color_black;
}

button {
  background-color: transparent;
  outline:none;
  border: solid 1px;
  padding: 4px 12px;
  border-radius: 4px;
  transition: 0.5s;
  cursor: pointer;
  vertical-align: middle;
  &:hover {
    background-color: $color_black;
    color: #fff;
  }
}

.keyboard {
  box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.4);
  display: inline-block;
  margin-bottom: 30px;
}

.pianokey {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.white {
  @include size($key_width, $key_height);
  border: solid 1px $color_white;
  transform: translate(-3px,-3px);
  z-index: 0;
  transition: 0.1s;
  &:hover {
    transform: translate(0px, 0px);
    background-color: $color_white;
  }
  &.playing {
  background-color: darken($color_white,10);
  transform: translate(0px,0px);}
}

.black {
  position: absolute;
  top: 0px;
  width: $key_width/2;
  height: $key_height*0.55;
  background-color: $color_black;
  margin-left: -$key_width/4;
  margin-right: -$key_width/4;
  z-index: 20;
  transform: translate(-3px,-3px);
  transition: 0.1s;
  &:hover {
    transform: translate(0px,0px);
    background-color: darken($color_black,10);
  }
  &:active {
    background-color: #aaa;
  }
  &.playing {
    background-color: lighten($color_black,10);
    transform: translate(0px,0px);
  }
}

.notes_list {
  li {
    display: inline-block;
    border-right: solid 1px;
    padding: 2px 5px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: darken($color_white, 5);
    }

    .time {
      font-size: 8px;
      opacity: 0.3;
    }
    .num {
      font-size: 16px;
    }
  }
}

.playing {
  background-color: darken($color_white, 10);
}

.label {
  position: absolute;
  color: rgba($color_black, 0.5);
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8px;
}

i {
  margin-left: 5px;
  margin-right: 0px;
  margin-top: 3px;
}
i.fa-circle {
  color: darken(red, 10);
}
