body {
  font-family: font-family: Arial, serif, sans-serif;
  color: #282626;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  float: right;
  background-color: rgba(27,27,27,.8);
}

#home, #contact, #git {
  float: right;
  margin-right: 15px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  color: #fff;
}

a:hover {
	color: #cc2ad5;
}

#title_container {
  position: relative;
  margin: 70px 50px;
  font-size: 20px;
  text-align: left;
  padding-bottom: 60px;
  border-bottom: solid 1px;
  border-color: #666;
}

#title {
  font-size: 54px;
  color: #00b4e4;
}

#web_design {
  margin: 10px;
  margin-left: 50px;
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
}
