body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: 1.5px;
  margin: 0;
  width: 100vw;
  background-color: #1f1f1f;
}

header {
  padding: 12px;
  height: 25px;
  color: #ccc;
}

header #title {
  float: left;
  margin-left: 15px;
  font-size: 18px;
  text-decoration: none;
}

header a {
  cursor: pointer;
  float: right;
  margin-right: 15px;
  text-decoration: none;
  font-size: 18px;
  color: #ccc;
}

header a:hover {
  color: #f9b857;
}

#user_setting {
  margin: 50px auto;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

form {
  margin: 20px 0 30px;
}

input {
  border: none;
  margin: 0 15px 0 5px;
  padding: 5px;
  font-size: 16px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.2) inset;
	background-color: #f4e4f1;
}

input:focus {
  outline: none;
}

#btn {
  background-color: #ab437f;
  color: #fff;
  width: 120px;
  height: 40px;
  letter-spacing: 1.5px;
  cursor: pointer;
}

#start input:focus {
  outline: none;
}

.countdown {
  width: 100%;
  float: left;
  margin: 10px auto;
}

.timer {
  font-size: 72px;
  margin: 30px auto;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
}

.timer span {
  margin-right: 10px;
}

.unit {
  margin: 10px auto;
  text-align: center;
}

.unit span {
  margin-left: 60px;
  font-size: 18px;
  color: #fff;
}
