@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../scss/screen.scss */
* {
  font-family: 微軟正黑體;
}

/* line 13, ../scss/screen.scss */
body {
  padding: 20px;
}

/* line 17, ../scss/screen.scss */
header {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
/* line 24, ../scss/screen.scss */
header a {
  color: #43866e;
  text-decoration: none;
}
/* line 27, ../scss/screen.scss */
header a:hover {
  color: #333;
}

/* line 33, ../scss/screen.scss */
.fruit {
  margin: 5px;
  padding: 20px;
  border: solid 1px #bbb;
  width: 200px;
}
/* line 39, ../scss/screen.scss */
.fruit .name {
  width: 120px;
  display: inline-block;
}
/* line 44, ../scss/screen.scss */
.fruit img {
  width: 40px;
}
/* line 48, ../scss/screen.scss */
.fruit * {
  display: inline-block;
  vertical-align: middle;
}

/* line 54, ../scss/screen.scss */
button {
  background-color: #fff;
  border: none;
  border: solid 1px #555;
  outline: none;
  cursor: pointer;
}
/* line 60, ../scss/screen.scss */
button:hover {
  background-color: #333;
  color: white;
}

/* line 66, ../scss/screen.scss */
.adbtn {
  padding: 10px 20px;
}
