@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../scss/screen.scss */
* {
  font-family: 微軟正黑體;
}

/* line 13, ../scss/screen.scss */
body {
  padding: 20px;
}

/* line 17, ../scss/screen.scss */
ul.items {
  padding: 0;
}
/* line 19, ../scss/screen.scss */
ul.items li {
  list-style: none;
  padding: 5px;
  border-bottom: solid 1px #bbb;
  width: 250px;
}
/* line 25, ../scss/screen.scss */
ul.items .name, ul.items .price {
  display: inline-block;
}
/* line 28, ../scss/screen.scss */
ul.items .name {
  width: 100px;
}

/* line 33, ../scss/screen.scss */
ul.classes {
  list-style: none;
  padding: 10px;
}
/* line 37, ../scss/screen.scss */
ul.classes li {
  border-bottom: solid 1px #bbb;
  padding: 5px;
  margin-top: 10px;
}
/* line 42, ../scss/screen.scss */
ul.classes img {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
/* line 48, ../scss/screen.scss */
ul.classes .classinfo {
  width: calc(100% - 200px - 35px);
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}
/* line 53, ../scss/screen.scss */
ul.classes .classinfo h4, ul.classes .classinfo h5 {
  margin: 0;
  margin-bottom: 10px;
}
/* line 58, ../scss/screen.scss */
ul.classes p {
  font-size: 20px;
  line-height: 2;
  text-indent: 2em;
}

/* line 65, ../scss/screen.scss */
footer {
  margin-top: 50px;
  font-size: 16px;
}
