#info {
  margin: 180px auto;
  font-size: 20px;
  color: #b4b4b4;
  text-shadow: inset 1px 1px 1px #666;
  text-align: center;
}

#hello {
  color: #7e89f9
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}

#links_container a {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bolder;
  color: #666;
}

#links_container a:visited {
  color: #666;
}
