//output:index.html

doctype html
//20170525
head(lang='en')
  meta(charset='utf-8')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="css/screen.css")
  title Hahow Homepage
  
  body
    .banner
      .center_banner
        a(href="../01 - homepage/index.html")
          img(src="https://hahow.in/assets/images/publication/proposal-flow-tablet.png")
    #app
      .classes
        a.classbox(v-for="cls in classdatas" v-bind:href="'https://hahow.in/courses/'+cls._id" target="_blank")
          .teacher(v-bind:style="'background-image:url('+ cls.owner.profileImageUrl +')'")
          .top
            .classpicture(v-bind:style="'background-image:url('+ cls.coverImage.url +')'")
            .tag 募資中
            .bookbtn
              i.fa.fa-bookmark-o
          .bottom
            h1.classtitle {{cls.title}}
            .texts
              .pricerow
                .preprice 預購價
                  span.orange NT{{cls.preOrderedPrice}}
                .lastday 剩
                  span.orange {{parseInt((new Date(cls.proposalDueTime)-new Date('2016/10/14'))/1000/60/60/24)}}天
              .progressbar
                .valuebar(v-bind:style="'width:'+230*cls.numSoldTickets/cls.successCriteria.numSoldTickets+'px'")
              .nowpeople 已募資
                span.orange {{cls.numSoldTickets}}/{{cls.successCriteria.numSoldTickets}}人
            .orangebar
            
      
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.19/vue.js")  
  script(src="hahow.js")
