@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../scss/screen.scss */
* {
  position: relative;
  font-family: arial, 微軟正黑體;
}

/* line 15, ../scss/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #FFC954;
  z-index: -10;
}

/* line 30, ../scss/screen.scss */
#buylist {
  border: 3px solid #000;
  display: inline-block;
  position: absolute;
  top: 120px;
  padding: 20px;
  background-color: #e3e3e3;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

/* line 42, ../scss/screen.scss */
h1 {
  padding: 20px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 3px solid #000;
  background-color: #57dd8d;
  color: #fff;
  font-weight: bold;
}

/* line 55, ../scss/screen.scss */
.buyitem {
  padding: 15px;
  font-size: 16px;
  vertical-align: middle;
  font-weight: 700;
}
/* line 61, ../scss/screen.scss */
.buyitem label {
  margin-right: 5px;
  padding: 5px;
  vertical-align: middle;
}
/* line 67, ../scss/screen.scss */
.buyitem input {
  width: 100px;
  border: solid 3px;
  padding: 5px;
  vertical-align: middle;
  outline: none;
}
/* line 73, ../scss/screen.scss */
.buyitem input input:focus::-webkit-input-placeholder {
  opacity: 0;
}
/* line 78, ../scss/screen.scss */
.buyitem .addbtn {
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  vertical-align: middle;
  border: 3px solid #333;
}
/* line 84, ../scss/screen.scss */
.buyitem .addbtn:hover {
  background-color: #f93f3f;
  color: #fff;
}

/* line 91, ../scss/screen.scss */
#item_list {
  margin-top: 10px;
  padding: 5px;
}

/* line 96, ../scss/screen.scss */
.buy_item {
  padding: 5px;
  list-style: none;
  border: solid 3px #444;
  margin-top: 10px;
  font-weight: 700;
  vertical-align: middle;
}
/* line 104, ../scss/screen.scss */
.buy_item .price {
  display: inline-block;
  position: absolute;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;
  right: 50px;
  background-color: #FFC954;
  vertical-align: middle;
}
/* line 115, ../scss/screen.scss */
.buy_item .price:after {
  content: " $";
}
/* line 120, ../scss/screen.scss */
.buy_item .del_btn {
  display: inline-block;
  position: absolute;
  padding: 0px 6px;
  right: 10px;
  cursor: pointer;
  vertical-align: middle;
}
/* line 128, ../scss/screen.scss */
.buy_item .del_btn:hover {
  background-color: #f93f3f;
  color: #fff;
}

/* line 135, ../scss/screen.scss */
.total {
  background-color: #57dd8d;
  color: #fff;
}
/* line 138, ../scss/screen.scss */
.total .price {
  background-color: transparent;
}

/* line 143, ../scss/screen.scss */
footer {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%) translateY(-50%);
}
/* line 148, ../scss/screen.scss */
footer a {
  font-size: 16px;
  color: #666;
  text-decoration: none;
}
/* line 153, ../scss/screen.scss */
footer a:hover {
  color: rgba(255, 255, 255, 0.7);
}
