/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 // @import "compass/reset";
 @charset "UTF-8";

 //顏色定義區(橘/灰/深橘)
$color_orange: #FA8B00;
$color_grey: #f3f3f1;
$color_dark_orange: #EB5E00;
$color_yellow: #FFE18D;
$color_dark_yellow: #FFDA71;
$color_dark_grey: #4F4C4B;

//尺寸定義區 (標題/內文/書籤按鈕/書籤icon/老師icon)
$size_title: 25px;
$size_para: 15px;
$size_bookbtn: 42px;
$size_icon: 22px;
$size_teacher: 55px;

//尺寸(課程/上下半部/進度條/預購價/底部橘條)
$width_class: 260px;
$height_toppart: 160px;
$height_bottompart: 184px;
$height_progressbar: 10px;
$height_pricerow: 22px;
$height_bottomorange: 5px;

//尺寸(課程框框的padding)
$padding_class: 15px;

//預設圖片Url
$url_teacher: "https://hahow.in/images/57ab3d5585b097070042067a";
$url_class: "https://hahow.in/images/574fab4f206cd60900c52a67?width=300";

 * {
   font-family: 微軟正黑體;
   border: solid 1px;
 }
