body {
  box-sizing: border-box;
  font-family: Microsoft JhengHei, 'helvetica neue';
  background: linear-gradient(135deg, #a738b8 0%,#a490cd 48%,#b1a1d1 100%);
  font-size: 20px;
  font-weight: 200;
  line-height: 1.6em;
}

.site-wrap {
  max-width: 700px;
  margin: 100px auto;
  background:white;
  padding:40px;
  text-align: justify;
}

.align-left {
  float:left;
  margin: 20px auto;
  margin-right:20px;
}
.align-right {
  float:right;
  margin: 15px auto;
  margin-left:20px;
}
.slide-in {
  opacity:0;
  transition:all .5s;
}
.align-left.slide-in {
  transform:translateX(-30%) scale(0.95);
}
.align-right.slide-in {
  transform:translateX(30%) scale(0.95);
}
.slide-in.active {
  opacity:1;
  transform:translateX(0%) scale(1);
}

h3 {
  margin: 20px auto;
  color: #d750b1;
  text-shadow: 1px 1px 1px #999999;
}

#reference {
  font-size: 14px;
  color: #666;
}

#reference a {
  font-style: italic;
}

p::selection {
  background-color: #f46fce;
  color: #fff;
}

footer {
  position: relative;
  text-align: center;
}

#links_container a {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bolder;
  color: #fff;
}

#links_container a:visited {
  color: #fff;
}
