//output:index.html

doctype html
//20170525
head(lang='en')
  meta(charset='utf-8')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="css/screen.css")
  title Hahow Homepage
  
  body
    #app
      .banner
        .center_banner
          img(src="")
      .classes
        a.classbox
          .teacher
          .top
          .bookbtn
      .bottom
        h1.classtitle
        .texts
          .pricerow
            .preprice 預購價
            .lastday 剩
          .progressbar
            .valuebar
          .nowpeople 已募資
        .orangebar
            
      
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.19/vue.js")  
  script(src="adding.js")
