@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../scss/screen.scss */
* {
  font-family: "Oswald", 微軟正黑體;
}

/* line 32, ../scss/screen.scss */
html, body {
  overflow-x: hidden;
  font-size: 16px;
}

/* line 38, ../scss/screen.scss */
nav.navbar {
  transition: 0.5s;
}
/* line 40, ../scss/screen.scss */
nav.navbar a {
  transition: 0.5s;
}

/* line 46, ../scss/screen.scss */
nav.navbar.at_top {
  background-color: transparent;
}
/* line 48, ../scss/screen.scss */
nav.navbar.at_top a, nav.navbar.at_top a:visited {
  color: #fff;
}

/* line 55, ../scss/screen.scss */
header {
  position: relative;
  background-color: #282f44;
  text-align: center;
}
/* line 59, ../scss/screen.scss */
header .icon {
  width: 80%;
  max-width: 250px;
  padding: 250px 0px;
}
/* line 64, ../scss/screen.scss */
header .navbar-brand {
  color: #fff;
}
/* line 69, ../scss/screen.scss */
header .marginbottom {
  position: absolute;
  width: 95%;
  bottom: 0px;
  right: 0px;
  z-index: 5;
  animation: upin 2s both;
}
@keyframes upin {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}
/* line 83, ../scss/screen.scss */
header .explore {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #f5d061;
  top: 85%;
  opacity: 0;
  transition: 0.5s;
}
/* line 90, ../scss/screen.scss */
header .explore:after {
  display: block;
  content: "v";
  transform: scaleX(1.2) scaleY(0.5);
}
/* line 95, ../scss/screen.scss */
header .explore.at_top {
  opacity: 1;
}

/* line 103, ../scss/screen.scss */
section {
  padding: 60px;
  position: relative;
}

/* line 110, ../scss/screen.scss */
#section_about {
  background-color: #E6AF2E;
  position: relative;
}
/* line 113, ../scss/screen.scss */
#section_about .container {
  transform: rotate(15deg) scale(0.9);
}
/* line 117, ../scss/screen.scss */
#section_about .row {
  height: 150px;
  color: #000;
}
/* line 120, ../scss/screen.scss */
#section_about .row .r1text {
  font-size: 80px;
}
/* line 124, ../scss/screen.scss */
#section_about .row .r2text {
  font-size: 35px;
}
/* line 128, ../scss/screen.scss */
#section_about .row .r3text {
  font-size: 50px;
  text-align: right;
}
/* line 132, ../scss/screen.scss */
#section_about .row .btn-area {
  height: 150px;
}
/* line 135, ../scss/screen.scss */
#section_about .row a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(10deg);
}
/* line 142, ../scss/screen.scss */
#section_about .marginbottom {
  position: absolute;
  width: 60%;
  top: calc(100% - 2px);
  z-index: 3;
}

/* line 151, ../scss/screen.scss */
.tri {
  transform: rotate(-15deg);
}

/* line 154, ../scss/screen.scss */
.tri1 {
  width: 350px;
}

/* line 157, ../scss/screen.scss */
.tri2 {
  width: 20px;
  margin-left: 20px;
}

/* line 161, ../scss/screen.scss */
.tri3 {
  width: 150px;
  margin-left: 70%;
}

/* line 165, ../scss/screen.scss */
.tri4 {
  width: 70px;
  margin-left: 100%;
}

/* line 169, ../scss/screen.scss */
.tri5 {
  width: 80px;
  margin-left: 100%;
}

/* line 174, ../scss/screen.scss */
#cat {
  width: 30%;
  position: absolute;
  right: 2px;
  bottom: -3px;
}

/* line 182, ../scss/screen.scss */
#cross {
  position: absolute;
}
/* line 184, ../scss/screen.scss */
#cross:before, #cross:after {
  content: "";
  display: block;
  width: 60px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
/* line 195, ../scss/screen.scss */
#cross:after {
  transform: translate(-50%, -50%) rotate(136deg);
}

/* line 203, ../scss/screen.scss */
#section_service {
  background-color: #ececec;
  padding: 80px 0px;
  padding-bottom: 20px;
}
/* line 208, ../scss/screen.scss */
#section_service .col-sm-4 {
  text-align: center;
}
/* line 212, ../scss/screen.scss */
#section_service h1 {
  background-color: #282f44;
  color: #ececec;
  font-size: 24px;
  display: inline-block;
  padding: 5px 20px;
  font-weight: normal;
}
/* line 221, ../scss/screen.scss */
#section_service h3 {
  margin-top: 0;
  margin-bottom: 60px;
  color: #E6AF2E;
}
/* line 227, ../scss/screen.scss */
#section_service .icon_service {
  width: 60%;
}

/* line 235, ../scss/screen.scss */
#section_works {
  background-color: #ececec;
  padding: 80px 0px;
  padding-top: 0;
}
/* line 240, ../scss/screen.scss */
#section_works h1 {
  background-color: #282f44;
  color: #ececec;
  font-size: 24px;
  padding: 6px 25px;
  display: inline-block;
  font-weight: normal;
}
/* line 249, ../scss/screen.scss */
#section_works .work {
  height: 230px;
  cursor: pointer;
  position: relative;
  padding: 5px;
  overflow: hidden;
}
/* line 256, ../scss/screen.scss */
#section_works .work.big {
  height: 460px;
}
/* line 260, ../scss/screen.scss */
#section_works .work img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
/* line 265, ../scss/screen.scss */
#section_works .work:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  z-index: 5;
}
/* line 276, ../scss/screen.scss */
#section_works .work .texts {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: 0.5s;
  z-index: 8;
}
/* line 284, ../scss/screen.scss */
#section_works .work .title {
  line-height: 24px;
}
/* line 289, ../scss/screen.scss */
#section_works .work:hover:before, #section_works .work:hover .texts {
  opacity: 1;
}
/* line 296, ../scss/screen.scss */
#section_works .marginbottom {
  position: absolute;
  width: 95%;
  right: -20px;
  top: 100%;
  z-index: 5;
  animation: upin 2s both;
}

/* line 309, ../scss/screen.scss */
#section_contact {
  background-color: #282f44;
  color: #ececec;
  padding-top: 90px;
  overflow: hidden;
  position: relative;
}
/* line 316, ../scss/screen.scss */
#section_contact .cat {
  width: 150px;
  position: absolute;
  bottom: 0px;
  transition: 0.3s;
}
/* line 322, ../scss/screen.scss */
#section_contact #cat_blue {
  right: 240px;
  z-index: 3;
}
/* line 326, ../scss/screen.scss */
#section_contact #cat_grey {
  right: 100px;
}
/* line 329, ../scss/screen.scss */
#section_contact #cat_yellow {
  right: 170px;
}
/* line 333, ../scss/screen.scss */
#section_contact .mails {
  height: 400px;
}
/* line 336, ../scss/screen.scss */
#section_contact .mails .mailcover {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 70%;
  transform: rotate(5deg) scale(2.1) translate(-40%, -50%);
}
/* line 340, ../scss/screen.scss */
#section_contact .mails .mailcover img {
  width: 120%;
}
/* line 345, ../scss/screen.scss */
#section_contact .mails .mailbody {
  background-color: #ececec;
  color: #282f44;
  padding: 20px;
  padding-left: 40px;
  position: absolute;
  width: 90%;
}
/* line 355, ../scss/screen.scss */
#section_contact input, #section_contact textarea {
  display: block;
  background-color: transparent;
  border: none;
  border: solid 3px #282f44;
}
/* line 361, ../scss/screen.scss */
#section_contact textarea {
  height: 140px;
  width: 100%;
}
/* line 366, ../scss/screen.scss */
#section_contact .information {
  padding-left: 60px;
}

/* line 372, ../scss/screen.scss */
footer {
  position: relative;
  background-color: #E6AF2E;
  text-align: center;
}
/* line 377, ../scss/screen.scss */
footer .icon {
  width: 80%;
  max-width: 250px;
  padding: 80px 0px;
}
