@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../scss/screen.scss */
* {
  font-family: arial, 微軟正黑體;
  vertical-align: middle;
}

/* line 15, ../scss/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
  background-color: rgba(232, 232, 232, 0.8);
}

/* line 24, ../scss/screen.scss */
.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  font-size: 0px;
}

/* line 35, ../scss/screen.scss */
.top_bar {
  height: 60px;
  background-color: rgba(255, 234, 203, 0.85);
}
/* line 38, ../scss/screen.scss */
.top_bar .icon {
  height: 40px;
  margin: 8px;
  margin-left: 15px;
  margin-right: 5px;
  border: 3px solid #f7a52a;
  border-radius: 100%;
}
/* line 46, ../scss/screen.scss */
.top_bar input {
  height: 30px;
  width: 300px;
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  padding-left: 10px;
  border: solid 2px #f7a52a;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  letter-spacing: 1.5px;
}

/* line 62, ../scss/screen.scss */
.cover {
  height: 350px;
  background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/CFSQPAXM18.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

/* line 70, ../scss/screen.scss */
.middle_bar {
  height: 50px;
  background-color: rgba(255, 234, 203, 0.85);
  border-bottom: solid 2px rgba(187, 187, 187, 0.75);
}
/* line 74, ../scss/screen.scss */
.middle_bar .person_img {
  width: 170px;
  height: 170px;
  position: relative;
  top: -140px;
  left: 20px;
  box-shadow: 0 0 10px #ededed;
  border: solid 4px #fff;
  background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/O5KRF826GG.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 180%;
}
/* line 87, ../scss/screen.scss */
.middle_bar .name_container {
  position: absolute;
  top: 50%;
  right: -200px;
  transform: translateY(-50%);
  letter-spacing: 2px;
}
/* line 93, ../scss/screen.scss */
.middle_bar .name_container h2, .middle_bar .name_container h5 {
  margin: 0;
  font-size: 14px;
}
/* line 97, ../scss/screen.scss */
.middle_bar .name_container h2 {
  font-size: 32px;
}

/* line 103, ../scss/screen.scss */
.bottom_bar {
  background-color: #ffffff;
  color: #000;
  padding: 18px;
}

/* line 110, ../scss/screen.scss */
.block {
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  height: 250px;
  font-size: 16px;
  text-align: left;
}
/* line 117, ../scss/screen.scss */
.block h3 {
  font-size: 28px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
/* line 122, ../scss/screen.scss */
.block h4 {
  font-size: 24px;
  color: #ff7937;
}
/* line 126, ../scss/screen.scss */
.block p {
  text-align: justify;
}

/* line 131, ../scss/screen.scss */
.intro {
  height: initial;
  width: 100%;
  text-align: center;
}
/* line 135, ../scss/screen.scss */
.intro .food_icon {
  margin-top: 0;
  margin-bottom: 30px;
  width: 20%;
  min-width: 100px;
}

/* line 143, ../scss/screen.scss */
.information {
  line-height: 25px;
}
/* line 145, ../scss/screen.scss */
.information i {
  width: 20px;
  vertical-align: middle;
  text-align: center;
}
/* line 150, ../scss/screen.scss */
.information span {
  vertical-align: middle;
}

/* line 155, ../scss/screen.scss */
.menu {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 160, ../scss/screen.scss */
.recommend {
  height: initial;
  display: inline-block;
  width: 30%;
  text-align: center;
}
/* line 165, ../scss/screen.scss */
.recommend img {
  width: 100%;
  height: 200px;
}
/* line 169, ../scss/screen.scss */
.recommend:hover {
  background-color: rgba(255, 234, 203, 0.85);
  border-radius: 8px;
  cursor: pointer;
}

/* line 176, ../scss/screen.scss */
.footer {
  height: initial;
  text-align: center;
  padding: 20px;
}
/* line 180, ../scss/screen.scss */
.footer h4 {
  font-size: 18px;
  margin: 0;
}
/* line 184, ../scss/screen.scss */
.footer p {
  font-size: 16px;
  margin: 10px;
  margin-bottom: 0;
  text-align: center;
}
/* line 189, ../scss/screen.scss */
.footer p a {
  text-decoration: none;
}
/* line 191, ../scss/screen.scss */
.footer p a:hover {
  color: #ff0091;
}

/* line 199, ../scss/screen.scss */
.text {
  width: 60%;
  background-color: #e3f9c3;
}

/* line 203, ../scss/screen.scss */
.information {
  width: 40%;
  background-color: rgba(241, 252, 223, 0.8);
}

/* line 207, ../scss/screen.scss */
.menu {
  width: 100%;
  vertical-align: middle;
}

/* line 211, ../scss/screen.scss */
.recommend {
  width: calc(100% / 3);
}

/* line 214, ../scss/screen.scss */
.footer {
  width: 100%;
}

@media all and (min-width: 760px) and (max-width: 959px) {
  /* line 220, ../scss/screen.scss */
  .recommend {
    width: calc(100% / 3);
    vertical-align: top;
  }
  /* line 223, ../scss/screen.scss */
  .recommend h4 {
    font-size: 18px;
    text-align: center;
  }
  /* line 227, ../scss/screen.scss */
  .recommend img {
    width: 80%;
    height: 150px;
  }
}
@media all and (min-width: 480px) and (max-width: 759px) {
  /* line 236, ../scss/screen.scss */
  .text, .information {
    width: 50%;
  }

  /* line 242, ../scss/screen.scss */
  .recommend {
    width: calc(100% / 3);
  }
  /* line 244, ../scss/screen.scss */
  .recommend h4 {
    font-size: 14px;
    text-align: left;
  }
  /* line 248, ../scss/screen.scss */
  .recommend img {
    max-width: 120px;
    max-height: 100px;
  }
}
@media all and (max-width: 480px) {
  /* line 258, ../scss/screen.scss */
  .middle_bar .person_img {
    width: 130px;
    height: 130px;
    position: relative;
    top: -110px;
  }

  /* line 265, ../scss/screen.scss */
  .text, .information, .menu, .dishes {
    width: 100%;
  }

  /* line 268, ../scss/screen.scss */
  .menu {
    text-align: left;
  }

  /* line 271, ../scss/screen.scss */
  .recommend {
    width: 100%;
    text-align: left;
  }
  /* line 274, ../scss/screen.scss */
  .recommend h4 {
    display: inline-block;
    width: 80px;
    margin-right: 20px;
    font-size: 14px;
  }
  /* line 280, ../scss/screen.scss */
  .recommend img {
    display: inline-block;
    max-width: 120px;
    max-height: 100px;
  }

  /* line 286, ../scss/screen.scss */
  .footer {
    height: initial;
    text-align: left;
    padding: 20px;
  }
  /* line 290, ../scss/screen.scss */
  .footer h4 {
    font-size: 16px;
    margin: 0;
  }
  /* line 294, ../scss/screen.scss */
  .footer p {
    text-align: left;
    font-size: 14px;
    margin: 10px;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 307, ../scss/screen.scss */
  .top_bar {
    height: 70px;
  }
  /* line 309, ../scss/screen.scss */
  .top_bar .icon {
    height: 40px;
  }
  /* line 312, ../scss/screen.scss */
  .top_bar input {
    margin-left: 5px;
    width: calc(100% - 50px - 50px);
    background-color: #ffb03b;
    color: black;
    margin-top: 5px;
  }

  /* line 320, ../scss/screen.scss */
  .middle_bar {
    height: 160px;
  }
  /* line 322, ../scss/screen.scss */
  .middle_bar .person_img {
    left: 50%;
    transform: translateX(-50%);
  }
  /* line 326, ../scss/screen.scss */
  .middle_bar .name_container {
    right: initial;
    top: initial;
    left: 50%;
    transform: translateX(-50%);
    top: 105%;
  }
  /* line 333, ../scss/screen.scss */
  .middle_bar h2, .middle_bar h5 {
    width: 200px;
    text-align: center;
  }
}
