@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../scss/screen.scss */
* {
  position: relative;
  font-family: 微軟正黑體;
  vertical-align: top;
}

/* line 16, ../scss/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

/* line 28, ../scss/screen.scss */
.phone {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
  transition-duration: 0.5s;
  left: 0;
}

/* line 39, ../scss/screen.scss */
.top {
  height: 40px;
}
/* line 42, ../scss/screen.scss */
.top .camera {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* line 55, ../scss/screen.scss */
.screen {
  height: 350px;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
}
/* line 63, ../scss/screen.scss */
.screen .pages {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-size: 0px;
  transition: 0.5s;
  left: 0px;
}
/* line 71, ../scss/screen.scss */
.screen .pages .page {
  display: inline-block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-size: initial;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ff4964;
  margin: 0;
  white-space: normal;
  position: relative;
}
/* line 84, ../scss/screen.scss */
.screen .pages .page:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  background-color: rgba(255, 68, 68, 0.6);
  width: 100%;
  height: 60px;
}
/* line 96, ../scss/screen.scss */
.screen .pages .page:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  background-color: rgba(255, 68, 68, 0.6);
  width: 100%;
  height: 20px;
}
/* line 107, ../scss/screen.scss */
.screen .pages .page h2 {
  color: #fff;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0;
}
/* line 114, ../scss/screen.scss */
.screen .pages .page h3 {
  color: #fff;
  font-size: 20px;
  margin-top: 30px;
}
/* line 120, ../scss/screen.scss */
.screen .pages .page p {
  background-color: rgba(148, 148, 148, 0.7);
  color: #fff;
  font-size: 16px;
  margin-top: 30px;
  padding: 5px;
}
/* line 129, ../scss/screen.scss */
.screen .pages .page1 {
  background-color: rgba(255, 96, 96, 0.6);
  color: #fff;
}
/* line 133, ../scss/screen.scss */
.screen .pages .page1 .orange {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 96, 96, 0.6);
  border-radius: 100%;
}
/* line 140, ../scss/screen.scss */
.screen .pages .page2 {
  font-size: 20px;
}
/* line 143, ../scss/screen.scss */
.screen .pages .page3 {
  color: #fff;
}

/* line 149, ../scss/screen.scss */
.bottom {
  height: 60px;
}
/* line 152, ../scss/screen.scss */
.bottom .button {
  width: 40px;
  height: 40px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}
/* line 165, ../scss/screen.scss */
.bottom .button:hover {
  background-color: #ddd;
}

/* line 171, ../scss/screen.scss */
.status, .phonename {
  color: #fff;
  margin: 0;
}

/* line 176, ../scss/screen.scss */
.status {
  margin: 10px;
  font-size: 15px;
}

/* line 181, ../scss/screen.scss */
.phonename {
  margin: 10px;
}

/* line 185, ../scss/screen.scss */
.turn_effect {
  transform: rotate(360deg);
}

/* line 190, ../scss/screen.scss */
.buttons button {
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 5px 14px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
/* line 198, ../scss/screen.scss */
.buttons button:hover {
  background-color: #fff;
  color: #333;
}

/* line 205, ../scss/screen.scss */
footer {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
/* line 209, ../scss/screen.scss */
footer a {
  font-size: 16px;
  color: #666;
  text-decoration: none;
}
/* line 214, ../scss/screen.scss */
footer a:hover {
  color: rgba(255, 255, 255, 0.7);
}
